<!DOCTYPE html>
<html lang="en">
<head>
    <title>Death Insights</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: "Lato", sans-serif
        }

        .mySlides {
            display: none
        }
    </style>
</head>
<body style = "background-color:gray;">
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
            <a href="/data_insight" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GRAPHS</a>
            <a href="/model" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PREDICTION</a>
            <!-- <a href="/death_insight" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ADDITIONAL INFO</a> -->
        </div>
    </div>
    <div style = "margin-top: 45px;"></div>
    <form method="POST" style = "border: 1px solid black; padding-left: 20px; padding-bottom: 20px; padding-top : 5px; background-color:darkgray;">
        <p>
            Choose a Country : <SELECT name="country" value = {{country}} onchange= this.form.submit()>
            {% for _,c in dfcountry.iterrows() %}
                <OPTION value={{c["index"]}} {{'selected' if c['check']==1}}>{{c['country']}}</option>
            {% endfor %}
            </SELECT>
        </p>
        <p>
            <table>
                <tr>
                    <td>Choose AgeRange : </td>
                    {% for _,a in dfagelist.iterrows() %}
                        <td>&emsp;</td>
                        <td><input type="radio" name="age" value={{a['index']}} onchange= this.form.submit() {{'checked' if a['check']==1}}></td>
                        <td><label for={{a['age']}}>{{a['age']}}</label></td>
                    {% endfor %}
                </tr>
            </table>  
        </p>
    </form>
    
    <h1 style="color:crimson;font-size:30px;"><strong>Graph of top 10 cause and risk factors of death in {{country}} in {{age}}</strong></h1>
    <p align="center"><iframe src='/categoryshow' style="border:2px;height: 520px;width: 1020px; border: 1px solid black;background-color:white;" title="category"></iframe></p>
    <p align="center"><iframe src='/causeshow' style="border:2px;height: 520px;width: 1020px; border: 1px solid black;background-color:white;" title="cause"></iframe></p>
    <p align="center"><iframe src='/riskshow' style="border:2px;height: 520px;width: 1020px; border: 1px solid black;background-color:white;" title="risk"></iframe></p>
</body>